{
  "plugins": [
    [
      "semantic-release-gitmoji",
      {
        "releaseRules": {
          "patch": {
            "include": [
              "🌟"
            ]
          }
        }
      }
    ]
  ]
}
